:root {
    --button-primary: #91ac27;
    --button-primary-hover: #629c16;
    --link-primary: black;
}

* {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-family: "Montserrat", sans-serif;
}
html {
    font-size: 16px;
}

h2 {
    width: 100%;
    font-size: 0.825rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 50px 0 10px 0;
}

a {
    text-decoration: none;
}

body {
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    background-color: white;
    margin: 50px 10%;
    max-width: 1024px;
    padding: 60px 40px;
}

.button {
    background-color: var(--button-primary);
    border: none;
    padding: 6px 12px;
    color: white;
    transition: all 0.5s;
    text-align: center;
    cursor: pointer;
}

.button--wide {
    width: 100%;
}

.button:hover {
    background-color: var(--button-primary-hover);
    transition: all 0.5s;
}

.link {
    color: var(--link-primary);
    transition: all 0.5s;
    margin: 10px 0;
}

.link:hover {
    color: var(--button-primary);
    transition: all 0.5s;
}

nav > .link {
    margin-left: 15px;
    margin-right: 15px;
}

nav > a {
    border-bottom: 2px solid transparent;
    padding: 15px 5px;
    transition: all 0.5s;
}

nav > a:hover {
    border-bottom: 2px solid var(--button-primary);
    transition: all 0.5s;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header > section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header > a {
    flex-grow: 4;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.products > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-15 {
    margin: 15px 0;
}

.products > article > h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

.img-wrapper {
    background-image: url(../img/empty-bg.jpg);
}

.img-wrapper > form {
    display: flex;
    flex-direction: column;
    padding: 100px 25%;
    gap: 15px;
}

input[type="email"] {
    padding: 4px;
}

.discount {
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.discount > span {
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: column;
}

footer > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer > section > article {
    width: 30%;
}
