* {
	margin: 0;
	padding: 0;
}

body {
	background: url(../img/bg.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.wrapper {
	background-color: white;
	margin: 50px 10%;
	max-width: 1024px;
	padding: 10px 40px;
}